.acctive-cont{
  width: 100%;
  display: flex;
  position: relative;
  padding: 5px;
}
.acctive-cont .rotText{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
}
.acctive-cont .rotText h5{
  font-size: 15px;
  font-family: arialF;
  color: #fff;
  font-weight: 100;
}
.acctive-cont span{
  color:  red;
}

.title-desc{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-desc .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-desc .title h2{
  font-size: 50px;
  width: auto;
  max-width: 300px;
  font-family: arialF;
  color: #fff;
}
.title-desc .title > div{
  border-top: 2px solid #fff;
  width: auto;
  min-width: 200px;
  display: flex;
  justify-content: end;
  padding: 20px 10px;
}
.title-desc .title > div h5{
  font-size: 15px;
  color: #fff;
  font-family: arialF;
  font-weight: 100;
}
.title-desc .descr{
  width: 100%;
  padding: 25px 0;
  border-top: 2px solid #4c00ff;
}
.title-desc .descr p{
  font-family: arialF;
  color: #fff;
  width: 60%;
  font-size: 16px;
}
@media (max-width: 1300px) {
  
  .acctive-cont{
    padding: 5px 50px;
  }
  .acctive-cont .rotText{
    left: -5%;
  }
}

@media (max-width: 900px) {
  .title-desc .title{
    width: 100%;
  }
  .title-desc .title h2{
    font-size: 30px;
  }
  .title-desc .descr p{
    width: 100%;
    font-size: 13px;
  }
  .acctive-cont .rotText{
    display: none;
  }
  .title-desc .title > div{
    display: none;
  }
}
@media (max-width: 500px) {
  .title-desc .title {
    justify-content: center;
  }
  .title-desc .title h2{
    max-width: 100%;
    text-align: center;
  }
}